<div id="box-columns" class="cards-container">
    <div data-card-type="{{status}}" draggable-element  droppable-element data-drop-area="column" data-drop-target="card" class="column" ng-repeat="(status, data) in dashboard.columns">
        <header data-drop-target="column">{{data[0]}} <div cards-remove clickgroupremove="removeColumn(status)">+</div></header>
        <div style="background-color: {{data[2][0]}}" droppable-element data-task-status="{{status}}">
            <div draggable-element droppable-element id="task{{issue[0]}}" data-task-status="{{status}}" data-drop-target="card" class="card" ng-repeat="issue in data[1]">{{issue[1]}}
                <div style="background-color: #00FAFF">issue[0]: {{issue[0]}}, status: {{status}}, $index: {{$index}}</div>
                <div class="remove" cards-remove clickcardremove="removeCard(issue[0], status, this.issue)" data-action="remove-card-copy"></div><!--dropcardrelocate="relocateCard(this)"  ondrop="passElement(this)"-->
            </div>
        </div>
    </div>
</div>
<h4>Categories</h4>
<div draggable-element  droppable-element id="panel-container-{{$index}}" class="box-panel-container {{status}}" data-drop-area="category-container" ng-repeat="(status, data) in dashboard.panels">
    <header>{{data[0]}} <div cards-remove clickpanelremove="removePanel(status)">+</div></header>
    <section id="box-rows-{{$index}}" droppable-element data-drop-area="panel" data-drop-target="card-panel" class="cards-container bg-darkmarine box-panel">
    </section>
</div>