<div class="float-right" id="dashboards-commands">
    <div>
        <button ng-click="newtask.show=true">Add issue</button>
        <div class="new-content task" ng-show="newtask.show">
            <form name="form-new-task" ng-submit="addTask()">
                <h5>New task</h5>
                <textarea required="required" placeholder="Add task content" ng-model="newtask.text"></textarea>
                <button type="submit">Done</button>
            </form>
            <div class="remove" ng-click="newtask.show=false"></div>
        </div>
    </div>
    <div>
        <button ng-click="newgroup.show=true">Add issues group</button>
        <div class="new-content group" ng-show="newgroup.show">
            <form name="form-new-group" ng-submit="addGroup()">
                <h5>New group</h5>
                <h6>Group class name</h6>
                <input type="text" name="new-group-class" placeholder="3-10 symbols, letters, hyphens and underscores are only allowed" required="required" pattern="^[a-z\-_]{3,16}$" ng-model="newgroup.class">
                <h6>Group name</h6>
                <input type="text" name="new-group-name" placeholder="Point out the group name" required="required" ng-model="newgroup.name">
                <div class="choose-color">choose group color ► <input type="color" ng-model="newgroup.color"></div>
                <button type="submit">Looks nice!</button>
            </form>
            <div class="remove" ng-click="newgroup.show=false"></div>
        </div>
    </div>
    <div>
        <button ng-click="newcategory.show=true">Add category</button>
        <div class="new-content category" ng-show="newcategory.show">
            <form name="form-new-category" ng-submit="addPanel()">
                <h5>New category</h5>
                <input type="text" placeholder="Point out the category name" ng-model="newcategory.name">
                <button type="submit">Got it!</button>
            </form>
            <div class="remove" ng-click="newcategory.show=false"></div>
        </div>
    </div>
</div>
<h2 class="float-left" id="header">Drag me out, baby! <span>and lo♥e me there ☺</span></h2>
<main ng-cloak dashboard-template></main>
