<div class="float-left bg-pink test-move" id="some-id-1" draggable-content>
    Drag me pink!</div>
<div class="float-left bg-lightskyblue test-move" id="some-id-2" draggable-content>
    Drag me lightskyblue!</div>
<div class="float-left bg-linen test-move" id="some-id-3" draggable-content>
    Drag me linen!</div>
<hr>
<section class="float-left section-box">
    <h4>Drop Zone 1</h4>
    <div class="float-left container bg-violet test-dropzone" id="drag-test-1" droppable-content></div>
</section>
<section class="float-left section-box">
    <h4>Drop Zone 2</h4>
    <div class="float-left container bg-azure test-dropzone" id="drag-test-2" droppable-content></div>
</section>

